* {
    margin: 0;
    padding: 0;
}

#app{
    display: flex;
}

#menu{
    background: rgb(255, 144, 17);
    min-width: 200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content{
    padding-top:20px;
    display: flex;
    background: #ffffff;
    min-width: 92%;
    min-height: 100vh;
    justify-content: center;
}

#page{
    background: rgb(255, 144, 17);
    min-width: 1059px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: -10 -10px;
}

#article{
    background: rgb(255, 255, 255);
    /* min-height: 500px; */
    height: auto;
    width: 1059px;
    margin: 10 10px;
}

#title-post{
    margin: 10px;
    /* background: rgb(133, 137, 161); */
    width: 98%;
    height: 40px;
    font: 28pt Arial;
}

#date-post{
    margin: 10px;
    /* background: rgb(133, 137, 161); */
    width: 98%;
    height: auto;
    font: 14pt Arial;
    color: rgb(173, 173, 173);
}

#preview-post{
    margin-left: 10px;
    margin-right: 10px; 
    margin-bottom: 10px;
    /* background: rgb(133, 137, 161); */
    width: 98%;
    /* height: 86%; */
    height: auto;
    font: 16pt Arial;
    overflow: auto;
}

.button-menu{
    text-align: center;
    font: 22pt Arial;
    min-width: 100px;
    min-height: auto;
    background: #EFEBE9;
    margin: 10 20px;
    border-radius: 10px;
    height: 4em;
    line-height: 4em;
}
a {
    color: black;
}