{% extends 'base.html' %}

{% block content %}
<div id="page">
        <!-- Конкретный пост (генеришь шаблоном)-->
        {% for post in object_list %}
        <div id="article">
            
            <div id="post">
                <div id="title-post"><a href="">{{ post.title }}</a></div>
                <div id="date-post">{{ post.date }}</div>
                <div id="preview-post">{{ post.body }}</div>
            </div>
            
        </div>
        {% endfor %}    
    </div>
{% endblock content%}