{% load static %}
<html>
  <head>
    <link rel="stylesheet" href='{% static "css/index.css" %}'/>
  </head>
  <body>
    <div id="app">
      <div id="menu">
        <div class="button-menu auth">Log in</div>
      </div>
      <div id="content">
            {% block content %}
        <!-- контейнер постов -->
       
            {% endblock content %}
        </div>
      </div>
    </div>
  </body>
</html>